-# coding: utf-8
- content_for :head do
  %script(src="http://js.pusherapp.com/1.9/pusher.min.js")
  %script(type="text/javascript")
    $(function () {
    var pusher  = new Pusher('#{Pusher.key||ENV['PUSHER_KEY']}');
    var channel = pusher.subscribe("#{@project.token}");
    channel.bind("post-event", function(data) { eval(data); });
    - %w(keep problem try).each do |kind|
      $('#post_#{kind}').click(function(){
      if($("#post_body").val().trim()) {
      $('#post_form').attr('action', '/#{@project.token}/#{kind}');
      $('#post_form').submit();
      $("#post_body").val('');
      $("#post_body").focus();
      } else {
      return false;
      }
      });
    $(".autolink").autolink();
    });

- content_for :menu do
  - if @project.accept?
    %a(data-toggle="modal" href="#post-modal" class="btn btn-info btn-large")
      %i(class="icon-edit icon-white")
      投稿する
    - if session[:admin]
      %a(class="btn btn-large" data-confirm="投稿の受付を終了してよろしいですか？" data-method="put" rel="nofollow" href="/#{@project.token}")
        %i(class="icon-stop")
        受付終了
    - else
      %a(data-toggle="modal" href="#manage-modal" class="btn btn-large")
        %i(class="icon-wrench")
        管理機能を使う
  - else
    - if session[:admin]
      %a(class="btn btn-danger btn-large" data-confirm="削除してよろしいですか？" data-method="delete" rel="nofollow" href="/#{@project.token}")
        %i(class="icon-trash icon-white")
        削除する
      %a(class="btn btn-large" data-confirm="投稿の受付を再開してよろしいですか？" data-method="put" rel="nofollow" href="/#{@project.token}")
        %i(class="icon-play")
        受付再開
    - else
      %a(data-toggle="modal" href="#manage-modal" class="btn btn-large")
        %i(class="icon-wrench")
        管理機能を使う
  %a(href="/#{@project.token}.md" class="btn btn-large")
    %i(class="icon-share")
    Markdownで表示

%div#post-modal(class="modal hide")
  = form_for @post, "/#{@project.token}/posts", remote: true, id: :post_form do |f|
    %div.modal-header
      %button.close(data-dismiss="modal") &times;
      %h3 ふりかえりを投稿する
    %div.modal-body
      = f.text_area :body, class: "span6", rows: 5, placeholder: "ふりかえりを入力してください"
    %div.modal-footer
      %a(href="#" id='post_keep' class='btn btn-large btn-success')Keep
      %a(href="#" id='post_problem' class='btn btn-large btn-success')Problem
      %a(href="#" id='post_try' class='btn btn-large btn-success')Try

%div#manage-modal(class="modal hide")
  = form_tag "/#{@project.token}", class: 'form-inline', method: :post, id: :manage_form do |f|
    %div.modal-header
      %a.close(data-dismiss="modal") &times;
      %h3 管理者パスワードを入力してください
    %div.modal-body
      = password_field_tag :password, class: "span4"
      = submit_tag '送信する', class: "btn btn-primary"

%div.page-header
  %div.row
    %div.span9
      %h1 #{@project.name}
      %p.autolink #{br h @project.description}

%div.cf(id="main")
  %div.row
    - %w[keep problem try].each do |kind|
      %section.left(id="post-#{kind}")
        %h3 #{kind.camelize}
        - posts = @project.posts.where(kind: kind)
        - if posts.count > 0
          - posts.each do |post|
            = partial 'projects/post', locals: {project: @project, post: post}
        - else
          %div.box(id="#{kind}-default")
            %p &nbsp;

