<div id="contents">
  <div class="textbox">
    <ul class="tabs cf">
      <% %w[keep problem try].each do |type| -%>
        <li class="<%= @type == type ? 'active' : '' %>">
        <a href="#<%= type %>"><%= type.camelize %></a>
        </li>
      <% end -%>
    </ul>

    <div class="textarea">
      <% %w[keep problem try].each do |type| -%>
        <div class="<%= @type == type ? 'active' : '' %>" id="<%= type %>">
          <form id="form_<%= type %>" accept-charset="UTF-8" action="/posts/<%= type %>" method="post">
            <p>
            <textarea id="post_<%= type %>_body" class="xxlarge" type="text" name="post[body]" placeholder="input <%= type %>"></textarea>
            <input class="btn primary" type="submit" value="Save">
            </p>
          </form>
        </div>
      <% end -%>
    </div>
  </div>

  <div id="main" class="cf">
    <% %w[keep problem try].each do |type| -%>
      <section class="left" id="post-<%= type %>">
      <h2><%= type.camelize %></h2>
      <% post = Post.where(type: type) %>
      <% if post.count > 0 -%>
      <% post.each do | post | -%>
        <div class="box" >
          <p><%= post.body %></p>
        </div>
      <% end -%>
      <% else -%>
        <div class="box" >
          <p>&nbsp;</p>
        </div>
      <% end -%>
      </section>
    <% end -%>

    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js"></script>
    <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
    <script>
      $(function () {
        var pusher  = new Pusher('<%= Pusher.key||ENV['PUSHER_KEY'] %>');
        var channel = pusher.subscribe("post-channel");
        channel.bind("post-created-event", function(data) {
          console.log(data);
          $('section#post-'+data.type).append("<div class='box'><p>"+data.body+"</p></div>")
        });

        $('.tabs').tabs();

        <% %w[keep problem try].each do |type| -%>
          $("#form_<%= type %>").submit(function(){return $("#post_<%= type %>_body").val().trim() ? true : false;});
        <% end -%>

      })
    </script>

  </div>
</div>
