<%= link_to "all clear", url(:posts, :destroy), method: :delete %>

<ul class="tabs" data-tabs="tabs">
  <% %w[keep problem try].each do |type| -%>
  <li class="<%= @type == type ? 'active' : '' %>">
    <a href="#<%= type %>"><%= type.camelize %></a>
  </li>
  <% end -%>
</ul>

<div class="pill-content">
  <% %w[keep problem try].each do |type| -%>
  <div class="<%= @type == type ? 'active' : '' %>" id="<%= type %>">
    <form id="form_<%= type %>" accept-charset="UTF-8" action="/posts/<%= type %>" method="post">
      <p>
        <input id="post_<%= type %>_body" class="xxlarge" type="text" name="post[body]" placeholder="input <%= type %>">
        <input class="btn primary" type="submit" value="Save">
      </p>
    </form>
  </div>
  <% end -%>
</div>

<% %w[keep problem try].each do |type| -%>
<div class="well" id="post-<%= type %>">
  <% Post.where(type: type).each do | post | -%>
    <p><%= post.body %></p>
  <% end -%>
</div>
<% end -%>

<script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
<script>
  $(function () {
    var pusher  = new Pusher('<%= Pusher.key||ENV['PUSHER_KEY'] %>');
    var channel = pusher.subscribe("post-channel");
    channel.bind("post-created-event", function(data) {
      console.log(data);
      $('div#post-'+data.type).append("<p>"+data.body+"</p>")
    });

    $('.tabs').bind('change', function(e){
      console.log(e);
    });

    <% %w[keep problem try].each do |type| -%>
    $("#form_<%= type %>").submit(function(){return $("#post_<%= type %>_body").val().trim() ? true : false;});
    <% end -%>

  })
</script>
