<%= link_to "all clear", url(:posts, :destroy), method: :delete %>

<ul class="tabs" data-tabs="tabs">
  <% %w[keep problem try].each do |type| -%>
  <li class="<%= @type == type ? 'active' : '' %>">
    <a href="#<%= type %>"><%= type.camelize %></a>
  </li>
  <% end -%>
</ul>

<div class="pill-content">
  <% %w[keep problem try].each do |type| -%>
  <div class="<%= @type == type ? 'active' : '' %>" id="<%= type %>">
    <% form_for @post, url(:posts, :index, type: type), method: :post do |f| %>
      <p>
      <%= f.text_field :body, :class=>"xxlarge", :placeholder=>"input #{type}" %>
      <%= f.submit "Save", :class=>"btn primary" %>
      </p>
    <% end %>
  </div>
  <% end -%>
</div>

<% %w[keep problem try].each do |type| -%>
<div class="well" id="post-<%= type %>">
  <% Post.where(type: type).each do | post | -%>
    <p><%= post.body %></p>
  <% end -%>
</div>
<% end -%>

<script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
<script>
  $(function () {
    var pusher  = new Pusher('<%= Pusher.key||ENV['PUSHER_KEY'] %>');
    var channel = pusher.subscribe("post-channel");
    channel.bind("post-created-event", function(data) {
      console.log(data);
      $('div#post-'+data.type).append("<p>"+data.body+"</p>")
    });

    $('.tabs').bind('change', function(e){
      console.log(e);
    })
  })
</script>
