<%= link_to "all clear", url(:posts, :destroy), method: :delete %>

<div class="content">
  <% %w[keep problem try].each do |type| -%>
    <h3><%= type.camelize %></h3>
  <div class="well">
    <% form_for @post, url(:posts, :index, type: type), method: :post do |f| %>
      <p>
      <%= f.text_field :body, :class=>"xxlarge", :placeholder=>"input #{type}" %>
      <%= f.submit "Save", :class=>"btn primary" %>
      </p>
    <% end %>
    <% Post.where(type: type).each do | post | -%>
      <p><%= post.body %></p>
    <% end -%>
  </div>
  <% end -%>

</div>
